@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'DYH';        
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/static/fonts/SmileySans-Oblique.otf.woff2);
  /* 定义加粗样式(加粗多少) */
  font-weight: Black;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}

/**
那年今日
*/

#aside-content .card-history .swiper-wrapper {
    flex-direction: column
}

#aside-content .card-history .history_slide {
    text-align: left;
    display: flex!important;
    flex-direction: column;
    align-items: flex-start
}

#aside-content .card-history #history-baidu>.blog-slider__pagination {
    display: none
}

#aside-content .card-history .history_slide_time {
    color: var(--ba-secondtext);
    font-size: 14px;
    font-style: italic;
    font-weight: lighter
}

#aside-content .card-history .history_slide_link {
    line-height: 1.5;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical
}

#aside-content .card-history .history_slide_link a {
    color: var(--ba-main);
    padding: 0 4px;
    border-radius: 4px
}

#aside-content .card-history .history_slide_link a:hover {
    color: var(--ba-white);
    background: var(--ba-main)
}


/* 留言板增加每日一言模块 */
.poem-wrap {
    position: relative;
    width: 730px;
    max-width: 80%;
    border: 2px solid #797979;
    border-top: 0;
    text-align: center;
    margin: 80px auto;
}

.poem-left {
    left: 0;
}

.poem-border {
    position: absolute;
    height: 2px;
    width: 27%;
    background-color: #797979;
}

.poem-right {
    right: 0;
}

.poem-wrap h1 {
    position: relative;
    margin-top: -20px;
    display: inline-block;
    letter-spacing: 4px;
    color: #797979;
}

.poem-wrap p:nth-of-type(1) {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}

.poem-wrap p {
    margin: auto;
    line-height: 30px;
    color: #797979;
    font-family: "Linux Biolinum", "Noto Serif SC", Helvetica, Arial, Menlo, Monaco, monospace, sans-serif;
}

.poem-wrap p:nth-of-type(2) {
    font-size: 18px;
    margin: 15px auto;
}

.bozhushuo {
    text-align: center;
    font-size: 19px !important;
    margin: 0 0 12px !important;
    line-height: 1.9rem;
    font-family: "Linux Biolinum", "Noto Serif SC", Helvetica, Arial, Menlo, Monaco, monospace, sans-serif;
}

.notice {
    margin: 30px auto;
    padding: 20px;
    border: 1px dashed #e6e6e6;
    color: #969696;
    position: relative;
    display: inline-block;
    width: 95%;
    background: #fbfbfb50;
    border-radius: 10px;
    font-size: 16px;
}

.notice-content {
    display: initial;
    vertical-align: middle;
}