@font-face {
  font-family: "solitude";
  src: url('iconfont.eot?t=873d9bf279b9babd8bd4b34449aed54b'); /* IE9 */
  src: url('iconfont.eot?t=873d9bf279b9babd8bd4b34449aed54b#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=873d9bf279b9babd8bd4b34449aed54b') format('woff2'),
  url('iconfont.woff?t=873d9bf279b9babd8bd4b34449aed54b') format('woff'), /* chrome、firefox */
  url('iconfont.ttf?t=873d9bf279b9babd8bd4b34449aed54b') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=873d9bf279b9babd8bd4b34449aed54b#solitude') format('svg'); /* iOS 4.1- */
}

.solitude {
  font-family: "solitude" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.st-more-fill:before {
  content: "\e007";
}
.st-home-fill:before {
  content: "\e008";
}
.st-folder-fill:before {
  content: "\e00f";
}
.st-right-btn-fill:before {
  content: "\e012";
}
.st-signal-tower-fill:before {
  content: "\e018";
}
.st-dashboard-fill:before {
  content: "\e01a";
}
.st-moon-clear-fill:before {
  content: "\e01b";
}
.st-douyin-fill:before {
  content: "\e023";
}
.st-calendar-line:before {
  content: "\e025";
}
.st-access-line:before {
  content: "\e026";
}
.st-visitor-line:before {
  content: "\e027";
}
.st-update:before {
  content: "\e028";
}
.st-creative-commons-by-line:before {
  content: "\e02a";
}
.st-refresh:before {
  content: "\e02f";
}
.st-star-smile-fill:before {
  content: "\e030";
}
.st-arrow-up-line:before {
  content: "\e032";
}
.st-menu-line:before {
  content: "\e036";
}
.st-arrow-down:before {
  content: "\e038";
}
.st-copy-fill:before {
  content: "\e039";
}
.st-arrow-left-line:before {
  content: "\e03a";
}
.st-arrow-right-line:before {
  content: "\e03b";
}
.st-restart-line:before {
  content: "\e03d";
}
.st-external-link-fill:before {
  content: "\e03e";
}
.st-contacts-fill:before {
  content: "\e042";
}
.st-photos-fill:before {
  content: "\e047";
}
.st-arrow-right-bold:before {
  content: "\e048";
}
.st-arrow-left-bold:before {
  content: "\e049";
}
.st-ai-line:before {
  content: "\e04a";
}
.st-clock-fill:before {
  content: "\e04d";
}
.st-loading-line:before {
  content: "\e04e";
}
.st-show-line:before {
  content: "\e04f";
}
.st-toolbox:before {
  content: "\e050";
}
.st-link-line:before {
  content: "\e05a";
}
.st-suijibofang:before {
  content: "\e05b";
}
.st-add-fill:before {
  content: "\e060";
}
.st-telegram-line:before {
  content: "\e061";
}
.st-telegram-fill:before {
  content: "\e062";
}
.st-checkbox-multiple-blank-fill:before {
  content: "\e063";
}
.st-price-tag-fill:before {
  content: "\e064";
}
.st-pantone-fill:before {
  content: "\e066";
}
.st-artboard-fill:before {
  content: "\e067";
}
.st-pencil-ruler-fill:before {
  content: "\e068";
}
.st-group-fill:before {
  content: "\e06a";
}
.st-gift-fill:before {
  content: "\e06b";
}
.st-laptop-line:before {
  content: "\e06c";
}
.st-tools-fill:before {
  content: "\e06d";
}
.st-train-line:before {
  content: "\e06e";
}
.st-search-line:before {
  content: "\e06f";
}
.st-keyboard-box-fill:before {
  content: "\e070";
}
.st-disc-fill:before {
  content: "\e072";
}
.st-chat-fill:before {
  content: "\e073";
}
.st-fire-fill:before {
  content: "\e074";
}
.st-side-bar-fill:before {
  content: "\e075";
}
.st-algolia-fill:before {
  content: "\e076";
}
.st-refresh-line:before {
  content: "\e077";
}
.st-map-line:before {
  content: "\e078";
}
.st-team-fill:before {
  content: "\e079";
}
.st-calendar-todo-fill:before {
  content: "\e07a";
}
.st-loop-left-fill:before {
  content: "\e07b";
}
.st-word-fill:before {
  content: "\e07c";
}
.st-map-pin-fill:before {
  content: "\e07d";
}
.st-copyright-line:before {
  content: "\e07e";
}
.st-creative-commons-nc-line:before {
  content: "\e07f";
}
.st-creative-commons-nd-line:before {
  content: "\e080";
}
.st-arrow-2-right-line:before {
  content: "\e081";
}
.st-link-m-line:before {
  content: "\e082";
}
.st-close-fill:before {
  content: "\e083";
}
.st-book-mark-fill:before {
  content: "\e084";
}
.st-github-line:before {
  content: "\e085";
}
.st-bilibili-line:before {
  content: "\e086";
}
.st-mail-line:before {
  content: "\e087";
}
.st-afdian-line:before {
  content: "\e08a";
}
.st-chat-new-fill:before {
  content: "\e08b";
}
.st-window-fill:before {
  content: "\e08c";
}
.st-download-cloud-fill:before {
  content: "\e08d";
}
.st-baidu-fill:before {
  content: "\e08e";
}
.st-pause-fill:before {
  content: "\e08f";
}
.st-shield-user-fill:before {
  content: "\e091";
}
.st-skip-back-fill:before {
  content: "\e092";
}
.st-skip-forward-fill:before {
  content: "\e093";
}
.st-creative-commons-fill:before {
  content: "\e094";
}
.st-jianben-line:before {
  content: "\e095";
}
.st-panben-line:before {
  content: "\e096";
}
.st-play-fill:before {
  content: "\e097";
}
.st-loop-left-line:before {
  content: "\e099";
}
.st-play-list-2-fill:before {
  content: "\e09b";
}
.st-hand-heart-fill:before {
  content: "\e09f";
}
.st-clipboard-fill:before {
  content: "\e0a0";
}
.st-plant-fill:before {
  content: "\e0a1";
}
.st-arrow-right-circle-fill:before {
  content: "\e0a2";
}
.st-circle-check-solid:before {
  content: "\e0a4";
}
.st-circle-exclamation-solid:before {
  content: "\e0a5";
}
.st-circle-info-solid:before {
  content: "\e0a7";
}
.st-circle-plus-solid:before {
  content: "\e0a8";
}
.st-circle-arrow-right-solid:before {
  content: "\e0a9";
}
.st-circle-minus-solid:before {
  content: "\e0aa";
}
.st-show-left-line:before {
  content: "\e0ad";
}
.st-show-right-line:before {
  content: "\e0ae";
}
.st-book-2-fill:before {
  content: "\e0af";
}
.st-film-fill:before {
  content: "\e0b0";
}
.st-gamepad-fill:before {
  content: "\e0b1";
}
.st-thumbtack-solid:before {
  content: "\e0b2";
}
.st-bblogo:before {
  content: "\e0b4";
}
.st-hashtag-solid:before {
  content: "\e071";
}
.st-robot-fill:before {
  content: "\e0b6";
}
.st-says:before {
  content: "\e0b7";
}
.st-yife-logo:before {
  content: "\e0b8";
}
.st-wifi-fill:before {
  content: "\e0b9";
}
.st-links-line:before {
  content: "\e0ba";
}
.st-link:before {
  content: "\e0bb";
}
.st-video-fill:before {
  content: "\e0bc";
}
.st-image-fill:before {
  content: "\e0bd";
}
.st-youtube-fill:before {
  content: "\e0be";
}
.st-youtube-line:before {
  content: "\e0bf";
}
.st-twitter-x-line:before {
  content: "\e0c0";
}
.st-twitter-x-fill:before {
  content: "\e0c1";
}
.st-rss-line:before {
  content: "\e0c2";
}
.st-rss-fill:before {
  content: "\e0c3";
}
.st-discord-line:before {
  content: "\e0c4";
}
.st-discord-fill:before {
  content: "\e0c5";
}
.st-dribbble-line:before {
  content: "\e0c6";
}
.st-dribbble-fill:before {
  content: "\e0c7";
}
.st-github-fill:before {
  content: "\e0c8";
}
.st-gitlab-fill:before {
  content: "\e0c9";
}
.st-gitlab-line:before {
  content: "\e0ca";
}
.st-steam-line:before {
  content: "\e0cb";
}
.st-steam-fill:before {
  content: "\e0cc";
}
.st-alipay-fill:before {
  content: "\e0cd";
}
.st-alipay-line:before {
  content: "\e0ce";
}
.st-qq-line:before {
  content: "\e0cf";
}
.st-qq-fill:before {
  content: "\e0d0";
}
.st-wechat-line:before {
  content: "\e0d1";
}
.st-wechat-fill:before {
  content: "\e0d2";
}
.st-span-fill:before {
  content: "\e0d3";
}
.st-forever-solid:before {
  content: "\e0d5";
}
.st-wechat-pay-line:before {
  content: "\e0d6";
}
.st-wechat-pay-fill:before {
  content: "\e0d7";
}
.st-lightbulb-fill:before {
  content: "\e0d8";
}
.st-lightbulb-line:before {
  content: "\e0d9";
}
.st-npmjs-line:before {
  content: "\e0db";
}
.st-npmjs-fill:before {
  content: "\e0dc";
}
.st-play-list-2-line:before {
  content: "\e0dd";
}
.st-code-box-fill:before {
  content: "\e0de";
}
.st-code-box-line:before {
  content: "\e0df";
}
.st-marcus:before {
  content: "\e0e0";
}
.st-hexo-fill:before {
  content: "\e0e1";
}
.st-afdian-fill:before {
  content: "\e0e2";
}
.st-weibo-fill:before {
  content: "\e0e3";
}
.st-weibo-line:before {
  content: "\e0e4";
}
.st-facebook-line:before {
  content: "\e0e5";
}
.st-facebook-fill:before {
  content: "\e0e6";
}
.st-mastodon-fill:before {
  content: "\e0e7";
}
.st-mastodon-line:before {
  content: "\e0e8";
}
.st-instagram-line:before {
  content: "\e0e9";
}
.st-instagram-fill:before {
  content: "\e0ea";
}
.st-linkedin-box-fill:before {
  content: "\e0ed";
}
.st-linkedin-box-line:before {
  content: "\e0ee";
}
.st-whatsapp-line:before {
  content: "\e0ef";
}
.st-whatsapp-fill:before {
  content: "\e0f0";
}
.st-flutter-line:before {
  content: "\e0f1";
}
.st-flutter-fill:before {
  content: "\e0f2";
}
.st-zhihu-line:before {
  content: "\e0f3";
}
.st-zhihu-fill:before {
  content: "\e0f4";
}
.st-heart-3-fill:before {
  content: "\e0f5";
}
.st-heart-3-line:before {
  content: "\e0f6";
}
.st-heart-fill:before {
  content: "\e0f7";
}
.st-heart-line:before {
  content: "\e0f8";
}
.st-heart-2-fill:before {
  content: "\e0f9";
}
.st-heart-2-line:before {
  content: "\e0fa";
}
.st-gitee:before {
  content: "\e0fb";
}
.st-git:before {
  content: "\e0fc";
}
.st-dice-line:before {
  content: "\e0fd";
}
.st-dice-fill:before {
  content: "\e0fe";
}
.st-more-2-fill:before {
  content: "\e0ff";
}
.st-more-2-line:before {
  content: "\e100";
}
.st-chat-poll-fill:before {
  content: "\e101";
}
.st-chat-poll-line:before {
  content: "\e102";
}
.st-javascript-line:before {
  content: "\e103";
}
.st-javascript-fill:before {
  content: "\e104";
}
.st-difference:before {
  content: "\e105";
}
.st-text-snippet:before {
  content: "\e106";
}
.st-pug:before {
  content: "\e107";
}
.st-terminal-box-fill:before {
  content: "\e108";
}
.st-terminal-box-line:before {
  content: "\e109";
}
.st-information-fill:before {
  content: "\e10a";
}
.st-information-line:before {
  content: "\e10b";
}
.st-yaml:before {
  content: "\e10c";
}
.st-markdown-line:before {
  content: "\e10d";
}
.st-markdown-fill:before {
  content: "\e10e";
}
.st-css3-line:before {
  content: "\e10f";
}
.st-css3-fill:before {
  content: "\e110";
}
.st-html5-fill:before {
  content: "\e111";
}
.st-html5-line:before {
  content: "\e112";
}
.st-linux:before {
  content: "\e113";
}
.st-microsoft-line:before {
  content: "\e114";
}
.st-microsoft-fill:before {
  content: "\e115";
}
.st-apple-line:before {
  content: "\e116";
}
.st-apple-fill:before {
  content: "\e117";
}
.st-qr-code-fill:before {
  content: "\e118";
}
.st-qr-code-line:before {
  content: "\e119";
}
