/* 自定义字体 */
@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'DYH';	
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/fonts/SmileySans-Oblique.otf.woff2);
  /* 定义加粗样式(加粗多少) */
  font-weight: Black;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}

/* 自定义图标默认大小和颜色等属性 */
.iconfont {
  font-family: "iconfont" !important;
  /* 这里可以自定义图标大小 */
  font-size: 3em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg.icon {
  width: 1.28em;
  height: 1.28em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#nav {
  background: transparent !important;
  transition: 0.3s;
}

#nav a:hover {
  background: transparent !important;
  transition: 0.3s;
}

#nav-totop:hover .totopbtn i {
  opacity: 1;
}
#nav-totop #percent {
  font-size: 12px;
  background: transparent !important;
  color: transparent !important;
  width: 25px;
  height: 25px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.nav-fixed #nav-totop #percent,
.page #nav-totop #percent {
  background: transparent !important;
  color: rgb(255, 255, 255, 0);
  font-size: 13px;
}

#nav-totop {
  width: 35px;
}
#page-header:not(.is-top-bar) #percent {
  transition: 0.3s;
}
#page-header:not(.is-top-bar) #nav-totop {
  width: 0;
  opacity: 0;
  transition: width 0.3s, opacity 0.2s;
  margin-left: 0 !important;
}
#nav-totop #percent {
  font-weight: 700;
}
#nav-totop:hover #percent {
  opacity: 0;
  transform: scale(1.5);
  font-weight: 700;
}
#page-header #nav #nav-right div {
  margin-left: 0.5rem;
  padding: 0;
}

#nav-totop {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.nav-button {
  cursor: pointer;
}
div#menus {
  display: flex;
  align-items: center;
}
#page-header #nav .nav-button a {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav .site-page {
  padding-bottom: 0px;
}
#nav *::after {
  background-color: transparent !important;
}

/* 顶栏修改 */
#nav .menus_items .menus_item .menus_item_child li a {
  padding: 2px 16px;
}
#nav .menus_items .menus_item .menus_item_child li:hover a {
  color: white !important;
}

#nav .menus_items .menus_item .menus_item_child li {
  margin: 6px;
  border-radius: 5px;
  transition: all 0.3s;
  display: inline-block;
  margin: 0 3px;
}
#nav .menus_items .menus_item .menus_item_child:before {
  top: -19px;
}
#site-name,
.shuoshuo {
  white-space: nowrap;
  overflow: hidden;
}
#site-name {
  padding: 0 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

#blog_name #site-name i {
  opacity: 0;
  position: absolute;
}

#blog_name #site-name:hover .title {
  opacity: 0;
}

#blog_name #site-name:hover i {
  opacity: 1;
  transform: scale(1.01);
  color: white;
}
/* 圆角隐藏 */
ul.menus_item_child {
  border-radius: 5px;
}

/* 一级菜单居中 */
#nav .menus_items {
  position: absolute;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}

/*artitalk说说暗黑模式背景色和字体色*/
/*配置项https://artitalk.js.org/settings.html*/
[data-theme="dark"] #artitalk_main .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel {
    background: #2c2c2c;
}
[data-theme="dark"] #artitalk_main .cbp_tmtimeline>li .cbp_tmlabel {
    background: #2c2c2c;
}
[data-theme="dark"] #artitalk_main .cbp_tmtimeline>li .cbp_tmlabel {
    color: rgba(255, 255, 255, 0.9);
}
#operare_artitalk .at_button, #artitalk_main .at_button {
    background-color: var(--btn-bg) !important;
    color: var(--btn-color) !important;
    border-radius: 0.5em !important;
}
#operare_artitalk .at_button, #artitalk_main .at_button:hover {
    background-color: var(--btn-hover-color) !important;
}
/*artitalk说说暗黑模式背景色和字体色 end*/


/* 页脚与头图透明 */
#footer {
    background: transparent !important;
  }
  #page-header {
    background: transparent !important;
  }
  
  /* 白天模式遮罩透明 */
  #footer::before {
    background: transparent !important;
  }
  #page-header::before {
    background: transparent !important;
  }
  
  /* 夜间模式遮罩透明 */
  [data-theme="dark"] #footer::before {
    background: transparent !important;
  }
  [data-theme="dark"] #page-header::before {
    background: transparent !important;
  }
  


/* --------------------------------------页面样式设置（圆角，透明度等）------------------------------------- */


  :root {
    --trans-light: rgba(255, 255, 255, 0.88);
    --trans-dark: rgba(25, 25, 25, 0.3);
    --border-style: 2px solid rgb(169, 169, 169);
    --backdrop-filter: blur(0px) saturate(160%);
  }
  
  /* 首页文章卡片 */
  #recent-posts > .recent-post-item {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 25px;
    border: var(--border-style);
  }
  
  /* 首页侧栏卡片 */
  #aside-content .card-widget {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 18px;
    border: var(--border-style);
  }
  
  /* 文章页、归档页、普通页面 */
  div#post,
  div#page,
  div#archive {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border: var(--border-style);
    border-radius: 20px;
  }
  
  /* 导航栏 */
  #page-header.nav-fixed #nav {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: var(--backdrop-filter);
  }
  
  [data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.7) !important;
  }
  
  /* 夜间模式遮罩 */
  [data-theme="dark"] #recent-posts > .recent-post-item,
  [data-theme="dark"] #aside-content .card-widget,
  [data-theme="dark"] div#post,
  [data-theme="dark"] div#archive,
  [data-theme="dark"] div#page {
    background: var(--trans-dark);
  }
  
  
  /* 夜间模式页脚页头遮罩透明 */
  [data-theme="dark"] #footer::before {
    background: transparent !important;
  }
  [data-theme="dark"] #page-header::before {
    background: transparent !important;
  }
  
  /* 阅读模式 */
  .read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.5) !important;
  }
  .read-mode div#post {
    background: rgba(158, 204, 171, 0.5) !important;
  }
  
  /* 夜间模式下的阅读模式 */
  [data-theme="dark"] .read-mode #aside-content .card-widget {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
  }
  [data-theme="dark"] .read-mode div#post {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
  }
